.navbar {
  height: 4rem;
  // border: 1px solid black;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: white;
    font-family: sans-serif;
    margin-top: 5px;
    letter-spacing: 1px;
    font-weight: 600;
  }

  .leftNav,
  .rightNav {
    // border: 1px solid black;
    width: 12rem;

    .navLinks {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0;
      margin: 0;
      gap: 2rem;

      li {
        display: inline-block;
        color: white;
        font-family: sans-serif;
        font-weight: 600;

        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .rightNav .navLinks{
    justify-content: flex-end;
  }
}
